<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>
        {% block title %} Flask Platzi | {% endblock %}
    </title>
</head>
<body class="m-1">
    <header class="mb-3">
        {% include 'navbar.html' %}
    </header>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="notification {{ category }}">
            <button class="delete"></button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src={{ url_for('static',filename='js/events.js') }}></script>
</body>
</html>