<nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        <img src="{{ url_for('static', filename='images/platzi.png') }}" alt="Platzi logo">
      </a>
      <a class="navbar-item has-text-white" href="{{ url_for('index') }}">Inicio</a>
      <a class="navbar-item has-text-white" href="#">Platzi</a>
    </div>
</nav>